html, body {
    height: 100%;
    width: 100%;
}

body > .container-fluid {
    overflow-x: hidden;
}

#source-button {
    position: absolute;
    top: -25px;
    right: -15px;
    z-index: 5;
    font-weight: 700;
}

.bs-component {
    position: relative;
}

.bs-component .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block;
    overflow: visible;
}

.bs-component .modal-dialog {
    width: 80%;
}

footer {
    margin-top: 30px;
    padding: 20px 0;
}

#topbar.toolbar-expanded {
    height: 200px;
    position: relative;
}

#topbar.fixed {
    position: fixed;
    top: -335px;
    width: 100%;
    z-index: 10;

    transform: translate3d(0, 0, 0);
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}

.nav-placeholder {
    height: 400px;
    display: none;
}

.nav-placeholder.show {
    display: block;
}

.toolbar-fixed {
    position: fixed;
    width: 100%;
    height: 55px;
    top: 0;
    z-index: 11;
}

.toolbar .header-title {
    height: auto;
    position: absolute;
    top: 0;
    font-size: 40px;
    margin-left: 55px;
    margin-top: 0;
    overflow: hidden;
}

.toolbar .header-title.small {
    font-size: 25px;
    margin-bottom: 15px;
}

#headerToggle {
    color: rgba(255, 255, 255, .9);
}

.main-panel {
    display: block;
    margin-top: -30px;
    z-index: 10;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 70%;
}

.panel-heading {
    text-align: center;
}

.add-button {
    margin:0 auto !important;
    display:block;
    width: 20%;
}

.margin{
    margin-top: 30px;
}